    <div class=" container-fluid footer">
        <a href="https://www.linkedin.com/in/malayagr"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/MalayAgr"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/MalayAgarwal-Lee/MesoNet-DeepfakeDetection-API"><i class="fa fa-github"></i></a>
        <br>
        <p class="date">&copy;</p>
    </div>
</div>
</div>
<script>
    $(document).ready(function(){
        var date = new Date();
        var year = date.getFullYear();
        $('.date').append(year);
    });
</script>
</body>
</html>