@import url(https://fonts.googleapis.com/css?family=Skranji&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

html {
  height: 100vh;
}

body {
  height: -webkit-fill-available;
  font-family: monospace;
  color: #ffffff;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
}

.background {
  min-height: 100%;
  margin-bottom: -50px;
  height: fill-content;
  width: 100%;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1721%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1722)'%3e%3c/rect%3e%3cpath d='M368.78 0C397.86 7.65 394.17 36.84 420 36.84C446.71 36.84 443.68 7.94 473.85 0C513.68 -10.48 516.92 0 560 0C603.08 0 606.22 -10.33 646.15 0C676.22 7.78 669.89 35.84 700 36.21C766.82 37.03 770.18 19.81 840 2.37C842.68 1.7 842.24 0.05 845 0C912.24 -1.14 912.5 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1295.89 0 1297.94 -8.46 1331.79 0C1367.94 9.04 1369.14 35 1400 35C1418.89 35 1410.18 5.28 1431.29 0C1480.18 -12.22 1516.24 -30.6 1540 0C1570.6 39.4 1540 70 1540 140C1540 183.07 1566.57 206.98 1540 226.15C1496.57 257.48 1463.6 221.31 1400 241.01C1376.67 248.24 1383.26 260.66 1366.15 280C1313.26 339.79 1313.38 339.91 1260 399.26C1250.42 409.91 1240.24 409.69 1240.24 420C1240.24 430.18 1247.16 434.82 1260 440.24C1327.04 468.53 1343.57 494.17 1400 487.41C1428.01 484.05 1405.85 447.55 1428.89 420C1475.85 363.85 1506.71 320 1540 320C1562.27 320 1540 370 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C213.5 560 213.26 561.27 147 560C143.26 559.93 142.61 559.98 140 557.31C74.2 489.98 75.81 487.83 10.18 420C5.81 415.49 0.44 418.69 0 412.63C-4.65 348.69 0 346.32 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C324.39 0 327.86 -10.77 368.78 0' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 215.6C241.67 225.11 220.37 247.8 220.37 280C220.37 312.2 241.61 334.08 280 344.4C341.42 360.91 355.76 353.65 420 333.67C459.3 321.45 487.08 306.19 487.08 280C487.08 254.58 458.52 242.44 420 230.46C354.98 210.24 341.48 200.34 280 215.6' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 277.63C839 277.63 837.97 278.76 837.97 280C837.97 281.43 839 282.98 840 282.98C840.99 282.98 841.94 281.44 841.94 280C841.94 278.76 840.98 277.63 840 277.63' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 384.62C672.96 384.62 644.48 400.07 644.48 420C644.48 442.53 673.31 469.54 700 469.54C724.41 469.54 746.67 442.82 746.67 420C746.67 400.36 724.05 384.62 700 384.62' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M265.26 140C262.74 74.56 267.31 67.31 274.4 0C274.68 -2.69 277.2 0 280 0C281.71 0 282.02 -0.98 283.41 0C352.02 48.15 350.99 50.16 420 98.25C451.45 120.16 484.32 120.06 484.32 140C484.32 159.25 454.78 175.67 420 176.62C352.62 178.47 349.71 162.1 280 145.6C272.34 143.79 265.54 147.36 265.26 140' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M633.68 140C657.05 109.38 663.41 110.44 700 96.55C766.57 71.28 775.61 50.38 840 61.69C899.33 72.11 893.95 100.53 947.44 140C963.95 152.19 963.79 165 980 165C995.98 165 1011.82 157.76 1011.82 140C1011.82 86.93 997.28 81.19 980 23.33C976.37 11.19 970 8.37 970 0C970 -3.3 975 0 980 0C1050 0 1050 0 1120 0C1183.39 0 1186.1 -6.19 1246.79 0C1256.1 0.95 1251.46 9.77 1260 14.29C1328.07 50.3 1337.54 85.25 1400 81.05C1443.78 78.11 1429.29 25 1472.47 0C1499.29 -15.53 1529.01 -22.78 1540 0C1562.78 47.22 1540 70 1540 140C1540 149.43 1548.05 155.59 1540 158.85C1478.05 183.94 1460.3 162.3 1400 196.71C1354.14 222.88 1364.09 238.57 1327.69 280C1294.09 318.24 1294.44 318.57 1260 356.05C1230.12 388.57 1199.06 388.21 1199.06 420C1199.06 451.39 1226.18 455.19 1260 482.41C1313.14 525.19 1372.98 538.73 1372.98 560C1372.98 577.53 1316.49 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C500.3 560 491.11 574.86 440.59 560C421.11 554.27 438.49 530.91 420 518.82C358.2 478.41 352.24 462.44 280 455C212.24 448.03 201.82 500.49 140 490C98.73 482.99 109.79 451.71 73.82 420C39.79 390 18.93 402.47 0 366.58C-17.98 332.47 0 323.29 0 280C0 233 -26.82 193 0 186C43.18 174.74 78.38 206.25 140 243.48C156.16 253.25 143.09 264.78 155.56 280C213.09 350.24 205.47 382.83 280 414.4C337.69 438.83 358.18 421.67 420 392C498.18 354.47 490 336 560 280C560 280 560 280 560 280C596.84 210 587.05 201.1 633.68 140' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 218.31C813.95 218.31 817.05 252.79 787.25 280C747.05 316.71 745.04 315.11 700 346.15C643.48 385.11 584.14 378.4 584.14 420C584.14 467.01 644.31 523.38 700 523.38C750.94 523.38 751.72 474.12 797.39 420C821.72 391.16 819.04 388.95 840 357.45C865.62 318.95 890.56 317.36 890.56 280C890.56 247.79 865.6 218.31 840 218.31' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 372C945.41 372 905.33 394.5 905.33 420C905.33 446.98 945.99 476.95 980 476.95C1006.66 476.95 1026.67 447.48 1026.67 420C1026.67 395.01 1006.08 372 980 372' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1484.44 420C1484.44 391.96 1523.35 370 1540 370C1551.13 370 1540 395 1540 420C1540 458.89 1552.46 497.78 1540 497.78C1524.68 497.78 1484.44 455.85 1484.44 420' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M765.33 140C765.33 130.51 804.49 121.02 840 121.02C854.85 121.02 866.05 130.51 866.05 140C866.05 149.49 854.85 158.98 840 158.98C804.49 158.98 765.33 149.49 765.33 140' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1091.36 140C1109.13 82.26 1040.32 47.31 1050 0C1054.64 -22.69 1085 0 1120 0C1150.38 0 1156.79 -14.67 1180.75 0C1226.79 28.19 1211.29 57.47 1260 85.71C1320.92 121.03 1330.14 105.95 1400 127.11C1419.74 133.09 1439.2 133.66 1439.2 140C1439.2 146.31 1414.68 138.71 1400 152.41C1339.69 208.71 1344.78 216.35 1289.23 280C1274.78 296.56 1275.04 296.81 1260 312.84C1209.36 366.81 1201.26 361.21 1157.88 420C1131.26 456.07 1140.31 502.56 1120 502.56C1099.01 502.56 1103.78 456.76 1075.28 420C1033.78 366.48 1027.64 371 980 322C959.58 301 939.17 302.13 939.17 280C939.17 254.88 955.68 249.87 980 227.5C1031.78 179.87 1074.13 196.01 1091.36 140' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1540 65.88C1533.17 65.88 1513.65 24.02 1513.65 0C1513.65 -8.92 1536.24 -9.41 1540 0C1549.41 23.53 1546.34 65.88 1540 65.88' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 236C24.95 236 75.12 258.66 75.12 280C75.12 300.92 25.47 320.53 0 320.53C-12.09 320.53 0 300.26 0 280C0 258 -12.61 236 0 236' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M641.4 280C641.4 238.71 675.22 179.2 700 179.2C722.78 179.2 736.52 234.99 736.52 280C736.52 299.24 719.7 307.69 700 307.69C672.14 307.69 641.4 302.95 641.4 280' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M137.45 420C137.45 416.76 138.11 413 140 413C142.3 413 145.83 417.16 145.83 420C145.83 422 142.66 422.69 140 422.69C138.47 422.69 137.45 421.61 137.45 420' stroke='rgba(104%2c 41%2c 191%2c 0.65)' stroke-width='2'%3e%3c/path%3e%3cpath d='M543.53 560C543.53 550.1 548.02 530.53 560 530.53C579.59 530.53 606.67 552.02 606.67 560C606.67 566.75 583.34 560 560 560C551.76 560 543.53 564.83 543.53 560' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M902.22 560C902.22 553.94 941.82 536.27 980 536.27C1007.63 536.27 1033.85 553.8 1033.85 560C1033.85 565.67 1006.92 560 980 560C941.11 560 902.22 565.8 902.22 560' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1180.54 560C1180.54 550.74 1221.89 524.58 1260 524.58C1287.41 524.58 1311.58 550.29 1311.58 560C1311.58 568 1285.79 560 1260 560C1220.27 560 1180.54 568.45 1180.54 560' stroke='rgba(138%2c 86%2c 211%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1721'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1722'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.83)' offset='0.06'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 0%2c 40%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.heading {
  position: relative;
  display: block;
  margin: 1% auto;
  text-align: center;
}

h1 {
  font-size: 10rem;
  font-family: "Monofett", cursive;
  margin-bottom: 0;
}

.sub-heading {
  margin-top: 0;
  font-weight: 100;
  font-size: 1.2rem;
}

.how-to {
  margin-left: 3rem;
  margin-top: 8.5rem;
  border-radius: 50px;
  padding: 10% 15%;
  color: burlywood;
  background-image: linear-gradient(
    to bottom,
    rgba(43, 35, 44, 0.431),
    rgba(30, 29, 31, 0.87)
  );
}

.description {
  line-height: 2;
  color: #c7b1d6;
  font-size: 0.9rem;
}

.top-layer {
  position: absolute;
  margin: auto;
  top: 12rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22rem;
  width: 75%;
  background-image: linear-gradient(
    60deg,
    rgba(43, 35, 44, 0.431),
    rgba(22, 2, 26, 0.87)
  );
  color: lemonchiffon;
  padding: 2%;
  z-index: 2;
  border-radius: 50px;
}

.form-container {
  position: absolute;
  width: 90%;
  margin: 0% auto;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}

.form-container .form-control {
  height: auto;
  padding: 10px;
  font-size: 18px;
}

.img-form {
  width: 90%;
  margin: auto;
}

.img-form input {
  margin: auto;
  color: burlywood;
}

.form-control {
  border: 0;
  border-bottom: 2px solid #c7b1d6;
  color: burlywood;
  background-color: transparent;
  border-radius: 0;
  font-weight: 600;
}

.form-control:focus,
input[type="number"]:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
  background: none;
  color: burlywood;
}

.form-radios {
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 0;
}

#radios {
  margin-top: 2rem;
}

.radio-warning {
  font-size: 12px;
}

.checkbox {
  display: none;
}

.options {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  color: burlywood;
}

hr {
  border-color: #c7b1d6;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(14, 1, 19, 0.801);
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 2%;
  transition: 0.5s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  float: right;
  color: rgba(222, 184, 135, 0.253);
  text-decoration: none;
}

.sidebar .closebtn:hover {
  color: burlywood;
}

.acc-head,
.side-model-desc,
.side-model,
.loss-label {
  color: #c7b1d6;
}

.side-model {
  font-size: 2.5rem;
}

.side-acc {
  color: burlywood;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.side-model-img {
  filter: contrast(200%) invert(95%);
  border-radius: 15px;
  height: 15rem;
  width: 21rem;
  padding: 0;
}

.desc-text {
  color: burlywood;
  font-weight: 100;
}

.clr-label {
  color: #c7b1d6;
}

.table th {
  border: 0;
}

.side-table {
  border-radius: 15px;
  border: 0;
  background-color: rgba(22, 2, 26, 0.87);
  font-weight: 100;
  width: 20rem;
}

.table-div {
  overflow-x: auto;
}

.predicted-img {
  width: 160px;
  height: 160px;
  border-radius: 15px;
}

.card {
  background-image: linear-gradient(to right, rgb(24, 7, 24), black);
  padding: 7%;
  border: 0;
  border-radius: 15px;
  margin: auto;
  color: antiquewhite;
}

.vr {
  border-right: 1px solid grey;
}

.head-hr {
  width: 70%;
}

.capitalize {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: burlywood;
  letter-spacing: 2px;
}

.prob {
  font-size: 1.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: #c7b1d6;
}

.prob-container {
  float: right;
}

.card-container {
  width: 90%;
  padding: 8%;
  padding-top: 0;
  margin: 0 auto;
}

.pred-head {
  color: rgb(144, 144, 144);
  padding-top: 4rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: #000;
}

.footer {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 auto;
  word-spacing: 5px;
}

div .footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  text-align: center;
  word-spacing: 10px;
  height: 50px;
}

.footer i {
  font-size: 1.2rem;
  color: burlywood;
}
